<h1> this s a index page </h1>

<table>
	<thead>
		<tr>
			<th> TITLE </th>
			<th> DESCRIPTION </th>
			<th> ACTIONS </th>
		</tr>
	</thead>
	<body>
		<% @articles.each do |article| %>
			<tr>
				<td><%= article.title %></td>  
				<td><%= article.description %></td>
				<td>Placeholder</td>
			</tr>
		<% end %>
	</body>
</table>
